#centerMe{
    width: 600px !important;
    margin: 0 auto !important;
    float: none !important
}
#wordsky{
    text-align: center;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;  
}

#word{
    float:left;
}
#textArea{
    width: 600px;
    resize:vertical;
}


.grid li{list-style: none;}

/**** Transitions ****/

.masonry,
.masonry li { /* apply before masonry add class */
    position: absolute; /* important to add it before enter animation start */
    
    -webkit-transition-duration: .7s;
    transition-duration: .7s;
    
    -webkit-transition-property: all;
    transition-property: all;
}

.masonry .masonry-enter { /* limit animated properties for entering elements */
    -webkit-transition-property: -webkit-transform, opacity;
    transition-property: transform, opacity;
}

.masonry-enter,
.masonry-leave.masonry-leave-active {
    opacity: 0;
    -webkit-transform: scale(0.1);
    transform: scale(0.1);
}

.masonry-leave,
.masonry-enter.masonry-enter-active {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}


